    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.dummy-body {
    height: 200vh;
    background-size: cover;
    background-position: center;
    position: relative;
    background: #000434;
}
html {
    scroll-behavior: smooth;
  }


  .nav-7-header {
    max-width: 125px;
    background-color: #1F1F23;
    height: 100vh;
    position: fixed;
    transition: .5s;
    left: 0;
    top: 0;
    /* overflow: hidden; */
    z-index: 9999;
    font-family: var(--theme-font-primary);

    --theme-font-primary:'Montserrat', sans-serif;
}

.nav-7-row-style {
    background-color: #1F1F23;
}

.nav-7-logo {
    min-height: 90px;
    display: grid;
    align-content: center;
    padding-inline: 20px;

    & img {
        width: 100%;
        max-height: 90px;
        max-width: 150px;
        object-fit: contain;
    }
}

.nav-7-list {
    color: #fff;
    list-style: none;

    .nav-7-item a {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        font-family: var(--theme-font-primary);
        transition: .15s;

        &:hover {
            color: #E04646;
        }
    }

    > .nav-7-item {
        min-height: 65px;
        margin-bottom: 1rem;
        display: flex;
        align-content: center;
        padding-right:50px;
        padding-left: 50px;
        justify-content: space-between;
    }

}

.nav-7-container, 
.nav-7-row,
.nav-7-nav {
    height: 100%;
}

.nav-7-link > a span {
    opacity: 0;
    transition: .25s;
    margin-left: 1rem;
}


.nav-7-header:hover .nav-7-link > a span {
    opacity: 1;
}

.nav-7-header:hover {
    max-width: 250px;
}

.nav-7-item-has-child:hover .nav-7-mega-menu {
    left: calc(0% + 200px);
}

.nav-7-mega-menu {
    position: fixed;
    width: calc(100% - 200px);
    background-color: rgba(59, 59, 66, 1);
    top: 0;
    z-index: -1;
    height: 100%;
    transition: 1s;
    left: -100%;
}

.nav-7-mega-row {
    display: flex;
    flex-wrap: wrap;
}

.nav-7-mega-col {
    width: 100%;
}

.nav-7-mega-col-25 {
    max-width: 25%;
}

.nav-7-item.nav-7-mega-menu {
    align-content: start;
    padding:3rem;
    padding-left: 100px;
}

.nav-7-mega-list {
    list-style: none;
    padding: 0;
}

.nav-7-mega-list li {
    margin-bottom: 1rem;
}

.nav-7-title {
    margin-bottom: 1.5rem;
    font-size: 18px;
    font-weight: 700;
    font-family: var(--theme-font-primary);
    color: #fff;
}

.nav-7-mega-col {
    margin-bottom: 1.5rem;
}

.nav-7-submenu {
    list-style: none;
}

.nav-7-item-has-child:not(.nav-7-item-has-mega-menu) {
    position: relative;

    .nav-7-submenu {
        position: absolute;
        left: -100%;
        list-style: none;
        background-color: rgba(59, 59, 66, 1);
        min-width: 250px;
        z-index: -1;
        transition: .5s;
    }

    &:hover .nav-7-submenu {
        left: 100%;
    }

    .nav-7-item {
        padding: 1rem;
    }
}

.nav-7-item-has-child {
    position: relative;
    display: flex;
    align-items: center;

    & .nav-7-arrow::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-image: url(https://nuitwebtek.com/wp-content/uploads/2023/12/arrow-right.svg);
        background-size: contain;
        background-repeat: no-repeat;
        right: -20px;
        background-position: center;
    }
}


.nav-7-header .nav-7-item-has-child .nav-7-arrow::after {
    opacity: 0;
    transition: .25s;
}

.nav-7-header:hover .nav-7-item-has-child .nav-7-arrow::after {
    opacity: 1;
}

.nav-7-mob-btn {
    display: none;
    background-color: transparent;
    border: none;
    padding: 1rem;
}

.nav-7-mob-btn span {
    background-color: #fff;
    height: 1.5px;
    border-radius: 10px;
    width: 40px;
    margin-bottom: 12px;
    display: block;
    transition: .5s;

    &:last-child {
        margin-bottom: 0;
    }
}

.nav-7-arrow {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
}

.tab-content{
    padding-top: 10px;
}

@media only screen and (max-width:991px) {
    .nav-7-mob-btn {
        display: block;
    }

    .nav-7-header-mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-7-header:hover {
        max-width: 100%;
    }

    .nav-7-header {
        width: 100%;
        max-width: 100%;
        height: auto;
    }

    .nav-7-link > a span {
        opacity: 1;
    } 

    .nav-7-header .nav-7-item-has-child .nav-7-arrow::after {
        opacity: 1;
        transition: .25s;
        width: 30px;
        height: 30px;
        background-size: 8px;
    }

    .nav-7-list > .nav-7-item {
        padding-inline:20px;
    }

    .nav-7-item-has-child .nav-7-arrow::after  {
        right: 0px;
    }

    .nav-7-mobile {
        right: 0%;
        transition: .25s;
        position: fixed;
        height: 100vh;
        background-color: #1F1F23;
        width: 100%;
    }

    .nav-7-mobile.navshow {
        right: 0;
    }

   .nav-7-mob-btn.active {
        & span:first-child {
            scale: 1.2;
        }

        & span:nth-child(2) {
            scale: 1;
        }
        & span:last-child {
            scale: 0.8;
        }
   
    }

    .nav-7-item-has-child:not(.nav-7-item-has-mega-menu):hover .nav-7-submenu {
        left: -100%;
    }

    .nav-7-item-has-child:hover .nav-7-mega-menu {
        left: calc(-100%);
    }


    .nav-7-item-has-child .nav-7-mega-menu {
        width: 100%;
        z-index: 1;
        transition: .5s;
    }

    .nav-7-item-has-child.active  .nav-7-mega-menu {
        left: 0;
        padding-left: 3rem;
    }

    .nav-7-item-has-child:not(.nav-7-item-has-mega-menu) .nav-7-submenu {
        width: 100%;
        height: 100vh;
        z-index: 1;
        top: 0;
        position: fixed;
    }



    .nav-7-item-has-child.active:not(.nav-7-item-has-mega-menu) .nav-7-submenu {
        left: 0;
    }

    .nav-7-mega-col-25 {
        max-width: 100%;
    }

    .nav-7-item-has-child .nav-7-mega-list {
        transition: .5s;
        overflow: hidden;
        height: 0;
    }

    .nav-7-item-has-child .nav-7-mega-list.active {
        height:200px;
    }

    .nav-7-item-has-child:not(.nav-7-item-has-mega-menu) .nav-7-submenu {
        padding: 3rem;
    }


}  

.menu-back {
    position: relative;
    font-size: 18px;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    display: flex;
    align-items: center;
    color: #fff;
}

.menu-back::before {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    background-image: url(https://nuitwebtek.com/wp-content/uploads/2023/12/arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    left: 0px;
    background-position: center;
    transform: rotate(180deg);
    margin-top: 2.5px;
}


